.field {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background-image: url('/img/field.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-stack {
  position: relative;
  > img {
    position: absolute;
    width: 120px;
  }
}

.top-card {
  cursor: pointer;
  transition: all 125ms ease-in-out;
  &:hover {
    transform: scale(1.1) translateY(-10px);
  }
}

.played-card {
  right: 20px;
  transform: scale(1.3) translateX(140px) translateY(-180px) rotate(-10deg);
}

.draw-card {
  animation: draw-card-animation 1s ease-in-out;
  transform: scale(1.3) translateX(140px) translateY(-180px) rotate(-10deg);
}

@keyframes draw-card-animation {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.7);
  }
  60% {
    transform: scale(1.7);
  }
  100% {
    transform: scale(1.3) translateX(140px) translateY(-180px) rotate(-10deg);
  }
}

.player-position {
  position: absolute;
  right: 0;
}

.btn-add {
  position: absolute;
  right: 24px;
  bottom: 24px;
}

.pin-bottom {
  position: absolute;
  left: 100px;
  right: 100px;
  bottom: 24px;
}
