<div class="field">
  <div class="card-stack">
    @for (count of [1, 2, 3, 4]; track $index; let index = $index) {
    <img [ngStyle]="{ 'right.px': index * 5 }" src="/img/cards/card_cover.png" alt="card stack" />
    }
    <img
      (click)="drawCard()"
      class="top-card"
      style="right: 20px"
      src="/img/cards/card_cover.png"
      alt="card stack"
    />
    @if (drawCardAnimation) {
    <img
      (click)="drawCard()"
      [class.draw-card]="drawCardAnimation"
      class="draw-card"
      style="right: 20px"
      src="/img/cards/ace_1.png"
      alt="card stack"
    />
    }
  </div>
</div>
