.start-screen {
  background-color: #404040;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red-start-box {
  background-color: red;
  height: 100vh;
  width: 800px;
  > h1 {
    color: white;
    text-align: center;
    font-size: 64px;
  }
}

.center-button {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 200px;
  display: flex;
  justify-content: center;
}

.start-button {
  height: 100px;
  width: 600px;
  border-radius: 12px;
  border: none;
  background-color: goldenrod;
  font-size: 48px;
  font-weight: bold;
  &:hover {
    filter: brightness(1.25);
    cursor: pointer;
  }
}
